@import "utility/variables";
@import "component/menu/menu";
@import "additional/add";
@import "component/display/tray";
@import "component/card/card";
@import "component/menu/user/userInfo";
@import "additional/newBookForm";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&family=Quicksand:wght@300&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "menu display";
  height: 100vh;
  gap: 2rem;
  background-color: var(--main);

}

label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input {
  display: none;
}