.userInfo {
    margin-top: 2rem;
    width: 100%;
    text-align: center;

    .username {
        font-size: 1.5rem;
        position: relative;

        i {
            font-size: 1rem;
            color: black;
            border: 1px red solid;
        }

    }

    .username::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -5px;
        transform-origin: center;
        transform: scaleX(0);
        background-color: var(--fc);
        height: 2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all 400ms ease-in;
    }

    .username:hover::after {
        transform: scaleX(1);
        transform-origin: center;
    }

    .username::before {
        content: "\f044";
        font: var(--fa-font-solid);
        right: -30px;
        bottom: 10px;
        position: absolute;
        font-size: 1rem;


    }

    .userStatus {
        font-family: 'Quicksand', sans-serif;
        margin-top: 1rem;
        padding: 0 1rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1.2rem;


    }

    #userName:checked~.username {
        display: none;
    }

    #userNameValue {
        margin: -1rem auto 2rem;
        padding: .5rem;
        border-radius: 50px;
        border: 1px gray solid;
    }

    #submit-name {
        display: none;
        margin: 1rem auto;
        padding: .5rem 2rem;
        border-radius: 50px;
        border: none;
        background-color: black;
        color: white;
        font-weight: 900;

        &:hover {
            color: black;
            background-color: white;
            cursor: pointer;
        }
    }
}

@media only screen and(max-width: 400px) {
    .userInfo {
        text-align: right;
        margin-bottom: 2rem;

        .username {
            font-size: 1rem;
            margin-right: 1rem;
        }

        .userStatus {
            text-align: right;
            display: block;
        }

        .totalStatus {
            font-size: .8rem;
        }
    }
}
