.bookDisplay {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
}

.display {
    grid-area: display;
    padding: 1rem 0;
    width: 80%;
}

@media only screen and(max-width: 400px) {
    .bookDisplay {
        padding: 10rem 0 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .display {
        margin: 5rem -30% 0;
        width: 100%;
    }
}
